@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        @Model.Name


    </h1>

    <a href="/Shot">A pierdolnij zdjęcie</a>
    <div>
        <ul>
            @foreach (var item in this.Model.Urls.Reverse().Where(x=>x.EndsWith(".jpg", StringComparison.CurrentCultureIgnoreCase)).Take(4).Reverse())
            {
                <li>
                    <img src="/Thumbnail?file=@item" />
                    <a href="/Image?file=@item">@item</a>
                </li>
            }
        </ul>

    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
